.reveal th {
    font-weight   : bold;
    text-align    : left;
    padding       : 0.1em 0.5em 0.1em 0.5em; /*top right bottom left */
    border-top    : 1px solid;
    border-right  : 1px solid transparent;
    border-bottom : 1px solid;
    border-left   : 1px solid transparent;
}

.reveal td {
    text-align: left;
    padding: 0.1em 0.5em 0.1em 0.5em; /*top right bottom left */
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.reveal table {
    margin: auto;
    border-collapse: collapse;
    border: 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-spacing: 0;
}

.reveal pre {
    font-family: Source Code Pro;
}
.reveal code {
    font-family: Source Code Pro;
}