*~
\#*\#

*.bkp
.ignore

elpa_*
elpa/
eln-cache/
tree-sitter/
*.elc

.cache/
.projectile-cache.eld
bm-repository
abbrev_defs
personal/setup-personal.el
personal/custom-file.el
projectile-bookmarks.eld
recentf
history
tramp
auto-save-list/
*.desktop
*.desktop.lock
misc/pdf-tools/
network-security.data
places
request/
transient/
org-persist/
/projectile-frecency.eld
personal/
