[submodule "elisp/zenburn-emacs"]
	path = elisp/zenburn-emacs
	url = http://github.com/kaushalmodi/zenburn-emacs
[submodule "elisp/smyx"]
	path = elisp/smyx
	url = https://www.github.com/kaushalmodi/smyx
[submodule "elisp/unfill"]
	path = elisp/unfill
	url = https://github.com/kaushalmodi/unfill
[submodule "elisp/highlight-global"]
	path = elisp/highlight-global
	url = http://www.github.com/kaushalmodi/highlight-global
[submodule "elisp/ox-reveal"]
	path = elisp/ox-reveal
	url = https://github.com/kaushalmodi/org-reveal.git
[submodule "elisp/git-link"]
	path = elisp/git-link
	url = http://github.com/kaushalmodi/git-link
[submodule "elisp/ox-minutes"]
	path = elisp/ox-minutes
	url = https://github.com/kaushalmodi/ox-minutes.git
[submodule "elisp/el2markdown"]
	path = elisp/el2markdown
	url = https://github.com/kaushalmodi/el2markdown
[submodule "eless"]
	path = misc/eless
	url = https://github.com/kaushalmodi/eless
[submodule "elisp/ox-hugo"]
	path = elisp/ox-hugo
	url = https://github.com/kaushalmodi/ox-hugo.git
[submodule "misc/fonts/iosevka"]
	path = misc/fonts/iosevka
	url = https://github.com/kaushalmodi/iosevka-mirror.git
[submodule "elisp/web-mode"]
	path = elisp/web-mode
	url = https://github.com/kaushalmodi/web-mode
[submodule "elisp/devdocs-lookup"]
	path = elisp/devdocs-lookup
	url = https://github.com/kaushalmodi/devdocs-lookup
[submodule "misc/notdeft"]
	path = misc/notdeft
	url = https://github.com/kaushalmodi/deft.git
[submodule "misc/nim-emacs-module"]
	path = misc/nim-emacs-module
	url = https://github.com/kaushalmodi/nim-emacs-module
[submodule "elisp/manually-synced/hideshowvis"]
	path = elisp/manually-synced/hideshowvis
	url = https://github.com/sheijk/hideshowvis
[submodule "elisp/verilog-mode/src"]
	path = elisp/verilog-mode/src
	url = https://github.com/kaushalmodi/verilog-mode
[submodule "misc/ntangle"]
	path = misc/ntangle
	url = https://github.com/OrgTangle/ntangle.git
[submodule "elisp/manually-synced/iy-go-to-char"]
	path = elisp/manually-synced/iy-go-to-char
	url = https://github.com/doitian/iy-go-to-char
[submodule "elisp/manually-synced/benchmark-init-el"]
	path = elisp/manually-synced/benchmark-init-el
	url = https://github.com/kekeimiku/benchmark-init-el
