[submodule "from-git/reveal.js.master"]
	path = from-git/reveal.js.master
	url = http://github.com/hakimel/reveal.js
[submodule "from-git/zenburn-emacs"]
	path = from-git/zenburn-emacs
	url = http://github.com/kaushalmodi/zenburn-emacs
[submodule "from-git/org-reveal"]
	path = from-git/org-reveal
	url = https://github.com/yjwen/org-reveal
[submodule "from-git/zop-to-char"]
	path = from-git/zop-to-char
	url = http://www.github.com/kaushalmodi/zop-to-char
[submodule "from-git/org-tree-slide"]
	path = from-git/org-tree-slide
	url = https://github.com/takaxp/org-tree-slide
[submodule "from-git/smyx"]
	path = from-git/smyx
	url = https://www.github.com/kaushalmodi/smyx
[submodule "from-git/sunshine.el"]
	path = from-git/sunshine.el
	url = https://github.com/aaronbieber/sunshine.el
[submodule "from-git/unfill"]
	path = from-git/unfill
	url = https://github.com/kaushalmodi/unfill
[submodule "from-git/transpose-frame"]
	path = from-git/transpose-frame
	url = https://github.com/emacsmirror/transpose-frame
[submodule "from-git/rpn-calc"]
	path = from-git/rpn-calc
	url = https://github.com/kaushalmodi/rpn-calc
