/* Time-stamp: <2017-08-03 16:10:22 kmodi> */

/* Iosevka */
/* https://css-tricks.com/snippets/css/using-font-face/ */
/*   Chrome   Safari   Firefox   Opera     IE   Android   iOS    */
/*    5+       5.1+     3.6+      11.50+   9+    4.4+     5.1+   */
/* Also http://whyarethingsthewaytheyare.com/trying-out-iosevka-font/ */
@font-face {
    font-family: 'Iosevka';
    src: url('https://cdn.rawgit.com/kaushalmodi/iosevka-mirror/master/woff2/iosevka-ss08-regular.woff2') format('woff2'),
         url('https://cdn.rawgit.com/kaushalmodi/iosevka-mirror/master/woff/iosevka-ss08-regular.woff') format('woff');
}
@font-face {
    font-family: 'Iosevka';
    src: url('https://cdn.rawgit.com/kaushalmodi/iosevka-mirror/master/woff2/iosevka-ss08-italic.woff2') format('woff2'),
         url('https://cdn.rawgit.com/kaushalmodi/iosevka-mirror/master/woff/iosevka-ss08-italic.woff') format('woff');
    font-style: italic;
}
@font-face {
    font-family: 'Iosevka';
    src: url('https://cdn.rawgit.com/kaushalmodi/iosevka-mirror/master/woff2/iosevka-ss08-bold.woff2') format('woff2'),
         url('https://cdn.rawgit.com/kaushalmodi/iosevka-mirror/master/woff/iosevka-ss08-bold.woff') format('woff');
    font-weight: bold;
}
@font-face {
    font-family: 'Iosevka';
    src: url('https://cdn.rawgit.com/kaushalmodi/iosevka-mirror/master/woff2/iosevka-ss08-bolditalic.woff2') format('woff2'),
         url('https://cdn.rawgit.com/kaushalmodi/iosevka-mirror/master/woff/iosevka-ss08-bolditalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

kbd, mono, tt, code, pre {
    font-family: 'Iosevka', monospace;
{
